*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner-text{
    height: auto;
    width: auto;
    padding: 5px;
    font-style:oblique;
    color: white;
    position: absolute;
    top: 0%;
    font-style: oblique;
}
.banner-text h4{
    position: relative;
    left: 500px;
    top: 100px;
    padding: 30px;
    font-size: 80px;
}
.banner-text p{
    position: relative;
    left: 500px;
    top: 101px;
}
.banner-text button{
    position: relative;
    left: 800px;
    top: 80px;
}
.banner-text table{
    position: relative;
    left: 1100px;
    bottom: 240px;
    padding: auto;
    color: rgb(20, 3, 3);
    font-style:oblique;
}

.data-img img{
    height:500px;
    width: 100%;
}
/* second part */
.data-img-d img{
    height: 250px;
    width: 420px;
}